<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Homepage</title>
</head>

<!--
============================
=======COLORS PALETTE=======
============================
slate-900 -> główne tło (navbar, footer)
slate-800 -> sekcje admina, sidebar
slate-600 -> nagłówki, linki
slate-500 -> hover, aktywne elementy
slate-300 -> karty, ramki
slate-200 -> delikatne tła sekcji
stone-100 -> główne tło strony
stone-200 -> tło kart / artykułów
slate-900 -> tekst główny
slate-600 -> tekst pomocniczy
slate-400 -> metadata (data, autor)


Guest section
tło: stone-100
artykuły (karty): stone-200
tytuły: slate-800
tekst: slate-600
linki: slate-600 → hover slate-500

Admin section
tło: slate-900
karty: slate-800
tekst: slate-200
przyciski:
primary: slate-600
hover: slate-500
-->
<body class="bg-stone-100">
    <div class="">
        <div id="title-block">
            <h1>Personal Blog</h1>
            <table>
                <tr th:each="article : ${articles}">
                    <td><a th:href="@{/${article.id}}" th:text="${article.title}"></td>
                    <td th:text="${article.createdAt}"></td>
                </tr>
            </table>
        </div>
        <div id="blog-content">

        </div>

        <!-- List of articles ... ${article.list_of_articles}-->
    </div>
    <div>
        <!-- Article Content ... ${article.content}-->
    </div>
</body>
</html>